/* mobile  */

.features-background{
    background-color: #F4F5F7 ;
   text-align: center; 
   padding-right: 30px;
   padding-left: 30px;
   padding-top: 50px;
   margin-top: 100px;
}
.introFeatures{
    margin-top: 100px;
    padding-top: 50px;
}
.features-background h3{
    line-height: 1.5;
}

.features-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features-container h2, h3 {
    text-align: center;
}
h2{
    color:  hsl(233, 26%, 24%);
;
}
.features-container img {
padding-top: 20px;
padding-bottom: 20px;
}

.features-container h3{
line-height: 1.5;
}




/* desktop */
@media screen and (min-width: 1040px) {
.features-background{
 background-color: #F4F5F7 ;
 height: 650px;
 padding: 100px;

}
.features-container{
display: flex;
flex-direction: row;
justify-content: flex-start;
padding-top: 50px;
}
.features-container-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    line-height: 1.5;
    text-align: start;
    padding: 20px;

}
.introFeatures{
    margin-top: 100px;
    padding-top: 50px;
}
.features-background h3{
    line-height: 1.5;
}

h2{
    color:  hsl(233, 26%, 24%);
}
.features-container img {
padding-top: 20px;
padding-bottom: 20px;
}
.features-container h2, h3 {
    text-align: start;
}
.features-container h2, h3{
line-height: 1.5;
}

}