.socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    background-color: #2E304C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footerContent p {
    text-align: center;
    color: white;
}

.copyRight{
    color: #868AA0;
}

@media screen and (min-width: 1040px){
    footer{
        display: grid;
        flex-direction: row;
    }   
.socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

}

